# User PowerShell deployment scripts
*.user.ps1

# Parameter files, except for samples
*parameters.json
*.bicepparam

!main.sample*.bicepparam

# Compiled Bicep, compiled Bicepparam
main.json
main.*.json